.panelcont{
    width:40%;
    border:2px solid black;
    margin-top:16px;
    margin-bottom:16px;
}

.panelhead{
    font-weight:bold;
    background-color: aqua;
    padding:2px auto;
    color:white
}

.panelcontent{
    font-weight:normal;
    color:black;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:40%;
    border:2px solid black;
    margin:16px auto;
    align-items: center;
    flex-wrap:wrap;
}

#trash{
    font-size: 20px;
    cursor:pointer;
}

.Offline{
    color:red;
    font-weight: bold;
}

.Online{
    color:green;
    font-weight: bold;
}

.Unknown{
    color:blue;
    font-weight: bold;
}